body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

button{
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
